<div>
    <div class="modal-header">
        <h4 class="modal-title">基本资料</h4>
    </div>
    <div class="modal-body">
        <div class="row baseInfoTitle" style="margin:10px;">
            <span style="font-size:16px;cursor: pointer;">个人信息</span>
        </div>

        <!-- 个人信息 -->
        <div class="row" id="baseInfoDiv" style="margin-top:30px;">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="zte-form-item-label">姓名：</label>
                    <div class="zte-form-item-content">
                        <input id="staffName" name="staffName" class="form-control userinfol" type="text"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="zte-form-item-label">工号：</label>
                    <div class="zte-form-item-content">
                        <input id="staffCode" name="staffCode" class="form-control userinfol" type="text"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="zte-form-item-label">性别：</label>
                    <div class="zte-form-item-content">
                        <input id="sex" name="sex" class="form-control userinfol" type="text"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="zte-form-item-label">是否管理岗位：</label>
                    <div class="zte-form-item-content">
                        <input id="isManager" name="isManager" class="form-control userinfol" type="text"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="zte-form-item-label">手机：</label>
                    <div class="zte-form-item-content">
                        <input id="phone" name="phone" class="form-control userinfol" type="text"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label class="zte-form-item-label">邮箱：</label>
                <div class="zte-form-item-content">
                    <input id="email" name="email" class="form-control userinfol" type="text"/>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="zte-form-item-label">员工说明：</label>
                    <div class="zte-form-item-content">
                        <textarea id="staffDesc" name="staffDesc" class="form-control userinfol" style="resize:none;"></textarea>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" id="cancelBtn" name="cancelBtn">取消</button>
    </div>
</div>