<section>
    <div class="pt-wrap">
        <div class="user-wrap">
            <div class="zte-content">
                <div class="row zte-row text-center">
                    <div class="user-wrap">
                    <!-- 修改密码界面 -->
                    <div class="modal-header" style="margin-bottom:2px;">
                        <h5 class="modal-title" style="margin-bottom:14px;font-size:16px;font-weight:600;">密码修改
                            <span style="float:right;font-size:10px;cursor:pointer;" class="flex-slide" fd="interface-flex1" ></span>
                        </h5>
                    </div>
                    <form class="form-horizontal" id="updatePwdForm" >
                        <div class="modal-body" style="overflow: auto; height: 289px;">
                            <div class="row"  style="margin-top:5px;">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="zte-form-item-label"><span style="color:red;">*</span>原密码</label>
                                        <div class="zte-form-item-content">
                                            <input id="oldPassword" name="oldPassword" autocomplete="off" type="password" class="form-control" data-rule="required" value="" placeholder="原始密码" style="width:90%;"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row"  style="margin-top:5px;">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="zte-form-item-label"><span style="color:red;">*</span>新密码</label>
                                        <div class="zte-form-item-content">
                                            <input id="newPassword" name="newPassword" class="form-control" autocomplete="off" type="password"  data-rule="新密码: required;password;" value="" placeholder="新密码" style="width:90%;"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row"  style="margin-top:5px;">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="zte-form-item-label"><span style="color:red;">*</span>确认新密码</label>
                                        <div class="zte-form-item-content">
                                            <input id="confirmNewPassword" name="confirmNewPassword" class="form-control" autocomplete="off" type="password" data-rule="确认新密码: required;match(newPassword);" value="" placeholder="确认新密码" style="width:90%;"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row"  style="margin-top:5px;">
                                <div class="col-md-12">
                                    <label class="zte-form-item-label"  id="messageInfo" name="messageInfo"></label>
                                    <div class="zte-form-item-content" >

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-primary" id="confirmBtn" name="confirmBtn">确认</button>
                        <button type="button" class="btn btn-default"  data-dismiss="modal" id="cancelBtn" name="cancelBtn">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
