<section>
    <header>
        <div class="header header-bg">
            <div class="head-left"><a href="javascript:void(0);"></a></div>
            <div class="all-menu">
                <a href="javascript:void(0);" class="js-all-menu"><i class="iconfont icon-sys-menu"></i>系统菜单</a>
            </div>

            <!-- 头部右侧工具栏 -->
            <nav class="topbar-info pull-right">

                <a class="topbar-info-user-a pull-left">
                    <span class="">
                                <p class="name" style="color:#92A1BB;"></p>
                        </span>
                </a>

                <div class="topbar-info-tenant pull-left">

                </div>

                <a class="topbar-user-modPwd pull-left">
                    <span class="" style="color:#92A1BB;">修改密码</span>
                </a>

                <a class="user-btn-link pull-left logout" href="javascript:void(0);" target="_self"
                     title="注销"/>

            </nav>
            <div class="topbar-dropdown-box fadeInBottom animated">
                <div class="y-row">
                    <a href="javascript:void(0);" class="menu-close"></a>
                    <!-- 全部菜单 -->
                    <div class="general-menu js-search-menu">
                        <div class="general-menu-box">
                            <ul class="general-list">
                                <li class="active">
                                    <a>全部<i class="pull-right icon iconfont icon-arrow"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- 全部菜单根据A-Z进行排列 -->
                    <div class="topbar-menu-content">
                        <div class="topbar-menu-category">
                            <div class="topbar-product-all-item pull-left">
                                <div class="pull-left" style="min-width:900px;">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</section>
<section>
    <div class="view-framework-body js-sider-fold">
        <div class="view-framework-sidebar">
            <div class="sidebar-fold icon-unfold">
                <i class="iconfont icon-shrink"></i>
            </div>
            <!-- 常用菜单 -->
            <div class="sidebar-nav js-general-menu">
                <div id="menu-slidebar">
                    <ul>

                    </ul>
                </div>
            </div>
        </div>
        <div class="view-framework-product">
            <div class="view-framework-product-body">
                <div id="tabs-border" class="ui-tabs ui-workspace-tabs">
                    <!-- 打开的view导航 -->
                    <ul class="ui-tabs-nav main-tabs-nav myHead-s">
                        <li>
                            <a href="javascript:void(0);" class="js-home"><i class="iconfont icon-home-a" style="font-size: 20px;"></i></a>
                        </li>
                    </ul>
                    <!-- 首页加载独立的view -->
                    <div id="tabs-home" style="min-height:640px;">

                    </div>
                    <!-- 底部 -->
                    <!--<div class="copyright" style="position: ;bottom: px;right: px;width: 100%; z-index: -99;">版权所有©2018 中国电信集团公司 [ 增值电信业务经营许可证 A2.B1.B2-20090001 ] ICP 证号:京 ICP 备
                        09031924号
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>