<section><div class="pt-wrap">
	<div>
		<div class="modal-header">
			<h4 class="modal-title">图片管理</h4>
		</div>
		<div class="modal-body">
			<div style="font-weight:100;font-size:12px;">
				<span style="color:red;">*</span>点击图片列表最后的加号以添加图片
			</div>
			<div id="image-container" class="cmab-images-container">
				<div id="addImageCon" class="item-image-container">
					<image class="item-image" id="findImage" title="上传图片" src="image/add.png"></image>
				</div>'
			</div>
		</div>

		<div class="attr-select-footer modal-footer">
			<button type="button" class="btn btn-primary confirm_attention_select_btn" id="save-itemImage-button">保存</button>
			<button type="button" class="btn btn-default" data-dismiss="modal" id="cancel-itemImage-button">取消</button>
		</div>

	</div>
</div></section>
