<header class="head">
    <div class="head-left"></div>
    <div class="header-center">
        <ul class="header-list">
            <li class="list-item">
                <a>首页</a>
            </li>
            <li class="list-item">
                <a class="activated">集群</a>
            </li>
            <li class="list-item">
                <a>管理</a>
            </li>
            <li class="list-item">
                <a>ETL</a>
            </li>
            <li class="list-item">
                <a>数据集成</a>
            </li>
            <li class="list-item">
                <a>作业管理</a>
            </li>
        </ul>
    </div>
    <div class="head-right">
        <div class="logon-news">
            <div class="text">
                <b class="ellipsis">系统管理员</b>
                <i class="iconfont icon-arrow-down-b"></i>
            </div>
        </div>
    </div>
    <!-- head-right-end -->
</header>
<!-- head-end -->
<section class="page-container">
    <div class="page-sidebar" id="sidebarScroll">
        <ul class="page-sidebar-menu">
            <li class="sidebar-toggler">
                <div class="switch">
                    <i class="zte-iconfont icon-more-d "></i>
                </div>
            </li>
            <li>
                <a href="###" title="元数据">
								<span class="sidebar-arrow">
									<i></i>
								</span>
                    <i class="zte-iconfont icon-data-b "></i>
                    <span class="title">调度管理</span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="###">
										<span class="sidebar-arrow">
											<i></i>
										</span>
                            <span class="title">移动业务</span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="###">总体情况</a>
                            </li>
                            <li>
                                <a href="###">4G发展通报</a>
                            </li>
                            <li>
                                <a href="###">业务月报</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="###">
										<span class="sidebar-arrow">
											<i></i>
										</span>
                            <span class="title">没有点击打开</span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="###">总体情况</a>
                            </li>
                            <li>
                                <a href="###">4G发展通报</a>
                            </li>
                            <li>
                                <a href="###">业务月报</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="###">重点营销</a>
                    </li>
                    <li>
                        <a href="###">每日量化</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="###" title="租户">
								<span class="sidebar-arrow">
									<i></i>
								</span>
                    <i class="zte-iconfont icon-man-b "></i>
                    <span class="title">租户</span>

                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="###">重点营销</a>
                    </li>
                    <li>
                        <a href="###">每日量化</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="###" title="管理">
								<span class="sidebar-arrow">
									<i></i>
								</span>
                    <i class="zte-iconfont icon-management-a "></i>
                    <span class="title">管理</span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="###">重点营销</a>
                    </li>
                    <li>
                        <a href="###">每日量化</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="###" title="应用主机">
								<span class="sidebar-arrow">
									<i></i>
								</span>
                    <i class="zte-iconfont icon-pc-a "></i>
                    <span class="title">应用主机</span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="###">重点营销</a>
                    </li>
                    <li>
                        <a href="###">每日量化</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- page-sidebar-menu-end -->
    </div>
    <!-- page-sidebar-end -->
    <div class="page-content">
        <div class="zte-container-fluid">
            <ul class="nav-tabs">
                <li>
                    <a href="###">首页配置</a>
                    <i class="zte-iconfont icon-delete-b fs13"></i>
                </li>
                <!-- tab-end -->
                <li  class="active">
                    <a href="###" title="帮助文档目录编辑">帮助文档目录编辑 </a>
                    <i class="zte-iconfont icon-delete-b fs13"></i>
                </li>
                <li>
                    <a href="###">帮助文档目录 </a>
                    <i class="zte-iconfont icon-delete-b fs13"></i>
                </li>
                <li>
                    <a href="###">帮助文档内容</a>
                    <i class="zte-iconfont icon-delete-b fs13"></i>
                </li>
                <li>
                    <a href="###">帮助文档目录 </a>
                    <i class="zte-iconfont icon-delete-b fs13"></i>
                </li>
                <li>
                    <a href="###">帮助文档内容</a>
                    <i class="zte-iconfont icon-delete-b fs13"></i>
                </li>
                <li>
                    <a href="###">帮助文档目录 </a>
                    <i class="zte-iconfont icon-delete-b fs13"></i>
                </li>
                <li>
                    <a href="###">帮助文档内容</a>
                    <i class="zte-iconfont icon-delete-b fs13"></i>
                </li>
                <!-- tab-end -->
                <div class="clear"></div>
            </ul>
            <div class="tabs-content">
                <div class="tab-pane ">

                </div>
                <div class="tab-pane active">

                </div>
            </div>
            <!-- tab-content-end -->
        </div>
        <!-- container-fluid-end -->
    </div>
    <!-- page-content-end -->
</section>
<!-- page-container-end -->