/**
*    内页样式
**/

/** 首页  **/

.main-section .panel-title>i{
    margin-right: 5px;
    font-size: 20px;
}
.main-notice{
    background-color: #faf5ed;
    border: 1px solid #eee3d1;
    color: #d5a055;
    font-size: 14px;
    border-radius: 4px;
    padding: 8px;
    padding-left: 50px;
    position: relative;
}
.main-notice i{
    background-color: #ff9500;
    color: #fff;
    margin: -8px;
    display: inline-block;
    height: 40px;
    width: 50px;
    text-align: center;
    font-size: 25px;
    left: -50px;
    position: absolute;
    border-radius: 4px 0 0 4px;
}


/**  头部box  **/

.zbdp-box {
    padding-left: 76px;
    height: 64px;
    position: relative;
}
.zbdp-box .zbdp-box-img {
    position: absolute;
    left: 0;
    background-color: #e0f6ff;
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    line-height: 64px;
    text-align: center;
}
.zbdp-box .zbdp-box-title {
    padding: 5px 0;
    color: #475669;
    margin: 0;
}
.zbdp-box .zbdp-box-desc {
    font-size: 14px;
    color: #8492a6;
}
.noneBorderRadius{
    border-radius: 0!important;
}
.noneBorder{
    border: 0!important;
}
.boxCartoon:hover{
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -webkit-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -moz-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    transition: all 0.3s ease;
    z-index: 100;
    position: relative;
}

/* 隐藏按钮  */

.oper-toggle {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    text-align: right;
}
.oper-toggle .oper-btn {
    border: 1px solid #d3dce6;
    padding: 8px 4px;
    background-color: #fff;
    border-radius: 4px;
    display: none;
}
.oper-toggle .oper-btn .btn {
    border: 0;
    border-radius: 0;
    background-color: #f9fafc;
    display: block;
    font-size: 12px;
    color: #475669;
    width: 100%;
}
.oper-toggle .oper-btn .btn>i{
    font-size: 12px;
    margin-right: 5px;
}
.oper-toggle .btn:hover{
    background-color: #58b7ff;
    color: #fff;
}
.oper-toggle:hover >i {
    color: #20a0ff;
}
.oper-toggle:hover .oper-btn {
    display: block;
    position: relative;
    z-index: 100;
}

/* 表格面板  */

.panel.meta-panel {
    position: relative;
    padding: 0;
}
.meta-panel .left-menu {
    width: 120px;
    position: absolute;
    border-right: 1px solid #e5e9f2;
    float: left;
    height: 100%;
}
.meta-panel:after{
    content: '\20';
    display: block;
    height: 0;
    clear: both!important;
}
.meta-panel .left-menu .list-item {
    border-bottom: 1px solid #e5e9f2;
}
.meta-panel .add-item{
    text-align: center;
    line-height: 49px;
    border: 0;
}

.meta-panel .left-menu a {
    display: block;
}
.meta-panel .left-menu .item-content {
    height: 49px;
    position: relative;
    color: #475669;
}
.meta-panel .left-menu .text {
    display: block;
    height: 100%;
    line-height: 49px;
    padding-left: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.meta-panel .left-menu .oper-btn {
    position: absolute;
    right: 0;
    width: 30px;
    height: 100%;
    top: 0;
    text-align: center;
    border-left: 1px solid #e5e9f2;
    background-color: #fff;
    display: none;
}
.meta-panel .left-menu .btn {
    border: 0;
    padding: 0;
    line-height: 1;
}
.meta-panel .item-content:hover .oper-btn{
    display: block;
}
.list-item.activated .text {
    border-left: 2px solid #20a0ff;
    color: #20a0ff;
    border-right: 1px solid #fff;
    margin-right: -1px;
}
.list-item.activated{
    background-color: #d1f9fb;
}
.meta-panel .right-content {
    margin-left: 140px;
    padding: 0 10px;
}

/** 标题  **/

.meta-title {
    padding: 10px 0;
    border-bottom: 1px solid #e5e9f2;
}
.meta-title .title-text{
    font-size: 16px;
    color: #324057;
    display: inline-block;
    line-height: 28px;
    white-space: nowrap;
    max-width: 60%;
}
.meta-title-3 {
    color: #99a9bf;
    margin: 8px 0;
}

/**  表格  **/

.meta-table-1 {
    margin-top: 8px;
}
.meta-table-1 .ui-jqgrid-view .ui-jqgrid-bdiv .ui-jqgrid-btable {
    border-collapse: separate;
    color: #8492a6;
}
.meta-table-1 .ui-jqgrid-view .ui-jqgrid-bdiv .ui-jqgrid-btable tr.jqgrow td {
    overflow: hidden;
    white-space: nowrap;
    padding: 18px 0 18px 12px;
}
.meta-table-1 .ui-jqgrid-view .ui-jqgrid-bdiv .ui-jqgrid-btable tr.jqgrow .ui-sgcollapsed,
.meta-table-1 .ui-jqgrid-view .ui-jqgrid-bdiv .ui-jqgrid-btable tr.jqgrow .jqgrid-cbox{
    padding-left:0;
}
.meta-table-1 .ui-jqgrid-view .ui-jqgrid-bdiv .ui-jqgrid-btable tr td:nth-child(2) {
    border-collapse: separate;
    color: #475669;
}
.meta-table-1 .ui-jqgrid-view .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-subgrid .subgrid-cell{
    border:0;
    display: none;
}
.table-dropdown-1 {
    font-size: 12px;
    padding: 8px 20px;
}
.table-dropdown-1 .col-content {
    padding: 8px 8px 8px 0;
}
.table-dropdown-1 .col-content i {
    margin-right: 5px;
}
table .btn-link{
    padding: 0 5px;
}
table .btn-link + .btn-link {
    border-left: 1px solid #20a0ff;
}
.form-inline .form-group + .form-group {
    margin-left: 12px;
}

.meta-table-2 .ui-jqgrid-view .ui-jqgrid-bdiv .ui-jqgrid-btable tr.jqgrow td,
.meta-table-2 .ui-jqgrid-view .ui-jqgrid-hdiv .ui-jqgrid-htable .ui-th-column {
    border-right:1px solid #e5e9f2;
}
.meta-table-2 .ui-jqgrid-view .ui-jqgrid-hdiv .ui-jqgrid-htable .ui-th-column:last-child{
	border-right:0;
}
.meta-table-2 .ui-jqgrid-view .ui-jqgrid-btable tr.jqgrow td:last-child{
    border-right:0;
}
.meta-table-2 .ui-jqgrid-view .ui-jqgrid-btable,.meta-table-2 .ui-jqgrid-view .ui-jqgrid-htable{
    border:1px solid #e5e9f2;
    border-bottom: 0;
}
.ui-jqgrid-view .ui-jqgrid-hdiv .ui-jqgrid-htable th {
    color: #475669;
    font-weight: normal;
}
.ui-jqgrid-view .ui-jqgrid-bdiv .ui-jqgrid-btable tr.jqgrow td {
    border-bottom-color: #e5e9f2;
}
.ui-jqgrid-view .ui-userdata {
    border-bottom: 1px solid #eee;
    margin-top: -1px;
}


/**  按钮  **/

.btn-icon{
    background-color: transparent;
    color: #8492a6;
}
.btn-icon:hover,.btn-icon:focus{
    color: #58b7ff;
}

.zte-btn-text {
    font-size: 12px;
    color: #475669;
}
.btn .iconfont{
    position: relative;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-left: -1px;
    font-size: 15px;
    margin-right: 4px;
}

/** 标签  **/

.t-label {
    display: inline-block;
    height: 22px;
    background-color: #ccc;
    line-height: 22px;
    padding: 0 10px;
    color: #fff;
    border-radius: 20px;
    border: 0;
}
.t-label-warn{
    background-color: #f7ba2a;
}
.t-label-danger{
    background-color: #ff4949;
}
.t-label-normal{
    background-color: #13ce66;
}
.t-label-stop{
    background-color: #8492a6;
}

/**  list  **/

.list-5 .list-item {
    width: 20%;
    float: left;
}
.download-list-wrap .item-content {
    border: 1px solid #e5e9f2;
    margin: 10px;
    padding: 5px;
}

.download-list-wrap .item-content {
    border: 1px solid #e5e9f2;
    margin: 10px;
    padding: 5px;
    height: 45px;
    padding-left: 50px;
    position: relative;
    line-height: 35px;
}
.download-list-wrap .c-icon {
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 4px;
    background-color: red;
    position: absolute;
    left: 10px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    font-size: 11px;
}
.download-list-wrap .c-icon.i-xml{
    background-color: #50a3b8;
}
.download-list-wrap .c-icon.i-jar{
    background-color: #698abb;
}
.download-list-wrap .c-text {
    font-size: 12px;
    color: #475669;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.download-list-wrap .item-btn .item-content {
    padding: 0;
}
.download-list-wrap .item-btn .btn-half {
    width: 50%;
    float: left;
}
.download-list-wrap .item-btn .btn {
    width: 100%;
    border-radius: 0;
    height: 45px;
    line-height: 1;
}
.download-list-wrap .item-btn .iconfont{
    font-size: 12px;
    margin-right: 3px;
}


/** 元数据管理  **/

.left-panel{
    background-color: #fff;
    border: 1px solid #e5e9f2;
    border-radius: 4px;
}
.left-panel .pane-content{
    padding: 16px;
}
.left-panel .ui-jqgrid {
    margin-top: 16px;
}
.ui-jqgrid-view .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-state-highlight {
    background-color: #f9fafc;
    color: #1d8ce0;
    border-left: 2px solid #E21E67;
    margin-left: 2px;
}
.left-panel .t-label {
    font-size: 12px;
    height: 18px;
    line-height: 18px;
}
.left-panel .ui-jqgrid-view .ui-jqgrid-bdiv .ui-jqgrid-btable tr.jqgrow td {
    position: relative;
    padding: 7px 0 7px 12px;
    height: 22px;
    border-bottom: 1px dashed #e5e9f2;
}
.left-panel .ui-jqgrid-view .ui-jqgrid-bdiv .ui-jqgrid-btable tr.jqgrow td:first-child {
    text-decoration: underline;
}
.left-panel .ui-jqgrid-view .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-state-highlight td:first-child:before {
    content: '';
    position: absolute;
    width: 4px;
    background-color: #1d8ce0;
    height: 100%;
    display: inline-block;
    top: 0;
    left: 0;
}
.left-panel .ui-jqgrid-view .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-state-highlight {
    background-color: #f9fafc;
    color: #1d8ce0;
    position: relative;
}
.meta-title .meta-title-btn-group .zte-btn-text i {
    font-size: 14px;
    color: #8492a6;
    margin: 0 3px;
}
.meta-title-btn-group .zte-btn-text:focus i{
    color: #20a0ff;
}
.meta-title .meta-title-btn-group .zte-btn-text{
    text-decoration: none;
    padding: 5px 7px;
}
.meta-title .meta-title-btn-group .oper-toggle {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.meta-title .meta-title-btn-group .oper-toggle .oper-btn {
    position: absolute;
}
.meta-title .meta-title-btn-group .oper-toggle >.btn:hover {
    background-color: transparent;
    color: #20a0ff;
}
.ui-splitter .ui-scrollable {
    overflow: hidden;
}
.meta-title .btn-return {
    font-size: 12px;
    display: inline-block;
    color: #20a0ff;
    vertical-align: top;
    margin: 7px 8px 0 0;
}
.meta-title .btn-return:hover{
    color: #1d8ce0;
}
.meta-title .zte-breadCrumb {
    display: inline-block;
    line-height: 2;
}
.meta-title .zte-breadCrumb a {
    text-decoration: underline;
}
.meta-title .zte-breadCrumb .zte-breadcrumb-separator {
    margin: 0 5px;
    font-size: 10px;
    color: #8492a6;
}
.meta-title .zte-breadCrumb a.cur {
    color: #20a0ff;
    text-decoration: none;
}
.ui-pane#right-pane {
    border: 1px solid #e5e9f2;
    border-radius: 4px;
}
.ui-pane#right-pane .panel{
    border:0;
}

/**  租户管理  **/

.panel.panel-default {
    border: 1px solid #e5e9f2;
}
.tenant-section .zte-steps{
    margin-left:12%;
}
.tenant-section .meta-title{
    font-size: 18px;
    color: #58b7ff;
}
.form-horizontal {
    padding-top: 8px;
}

.addTenant-row {
    margin-top: 8px;
}
.panel-heading-bg {
    margin: -8px -8px 0;
    background-color: #eff2f7;
    text-align: center;
    padding: 8px;
    font-size: 16px;
    color: #475669;
}
.addTenant-list {
    min-height: 150px;
}
.addTenant-list .list-item {
    position: relative;
    border-bottom: 1px solid #eff2f7;
    padding: 6px 0;
    font-size: 12px;
}
.addTenant-list .list-item:last-child{
    border-bottom: 0;
}
.addTenant-list .left-txt {
    position: absolute;
    width: 80px;
    color: #475669;
}
.addTenant-list .right-content {
    text-align: right;
    margin-left: 80px;
    color: #8492a6;
}

.tenant-menu .search-1 .control-label {
    width: 50px;
    position: absolute;
    margin-top: 4px;
}
.tenant-menu .search-1 .input-group {
    margin-left: 50px;
}
.tenant-menu .tenant-title {
    background-color: #eff2f7;
    padding: 8px;
    font-size: 16px;
    color: #324057;
}
.tenant-menu .tenant-title .btn{
    margin-top: 3px;
}
.tenant-menu .search-2{
    margin-top:8px;
}
.tenant-menu .search-2 .form-control,.tenant-menu .search-2 .input-group-btn .btn {
    border-width:0 0 1px 0;
    border-radius: 0;
    height: 28px;
    border-color: #58b7ff;
}
.ui-jqgrid-pager .ui-pg-control {
    float: right;
}

/* 租户树  */

.tenant-menu .tenant-list{
    margin-top: 8px;
}
.tenant-menu .tenant-list .list-item {
    position: relative;
    padding: 8px;
}
.tenant-menu .tenant-list .left-content {
    font-size: 14px;
    color: #475669;
    margin-right: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tenant-menu .tenant-list .oper-toggle-group {
    position: absolute;
    right: 0;
    top: 6px;
    width: 50px;
    display: none;
}
.tenant-menu .tenant-list .list-item:hover .oper-toggle-group{
    display: block;
}
.left-panel .icon-round-a {
    font-size: 12px;
}
.left-panel .status-success{
    color: #13ce66;
}
.left-panel .status-wait{
    color: #8492a6;
}
.left-panel .status-fail{
    color: #ff4949;
}
.left-panel .status-ing{
    color: #fbff36;
}

.tenant-menu .tenant-list .oper-toggle>i {
    position: relative;
    top: 3px;
}
.zte-form-btn-group.pager-sameRow {
    float: left;
    margin-top: -35px;
}
.meta-title-btn-group .control-label {
    padding-top: 5px;
}



    /* 表单  */

.ipt-note {
    position: absolute;
    right: 13px;
    top: 0;
    height: 100%;
    line-height: 28px;
    font-style: normal;
}
.ipt-note +.form-control {
    padding-right: 23px;
}
.meta-title-2 {
    padding: 4px 12px;
    background-color: #eff2f7;
}
.meta-title-2 .title-text {
    height: 22px;
    line-height: 22px;
    color: #324057;
}
.form-desc {
    font-size: 12px;
    color: #99a9bf;
}
.zte-form-btn-group {
    position: relative;
    margin-top: 16px;
    text-align: center;
}
 .zte-form-btn-group .btn + .btn{
    margin-left: 10px;
}


 /** 应用主机  **/

.tenant-menu .tenant-title .zte-btn-group .btn {
    margin-top: -3px;
    font-size: 12px;
}

/**  执行落地  **/

.execute-bar {
    border: 1px solid #d3dce6;
    border-radius: 4px;
    margin-top: 10px;
    background-color: #f9fafc;
    padding: 7px 16px;
}
.execute-bar .ui-progressbar{
    height: 6px;
}
.ui-progressbar {
    height: 14px;
    border-radius: 30px;
}
.ui-progressbar .ui-progressbar-value {
    background-color: #13ce66;
}
.execute-bar label {
    font-size: 12px;
    color: #8492a6;
}
.execute-bar .zte-btn-text:hover, .execute-bar .zte-btn-text:focus, .execute-bar .zte-btn-text-more:focus{
    text-decoration: none;
}

/** 反向同步  **/

.sync-bar {
    padding: 10px 0;
}
.sync-bar .btn-primary {
    background-color: transparent;
    color: #324057;
    border: 0;
    font-size: 14px;
}
.sync-bar .btn-primary:hover,.sync-bar .btn-primary:focus,.sync-bar .btn-primary.activated{
    background-color: #20a0ff;
    color: #fff;
}
.sync-bar .btn-link {
    font-size: 12px;
    text-decoration: underline;
}
.ui-progressbar > .progress-label {
    top: -3px;
    font-weight: normal;
    font-size: 12px;
}
.sync-time {
    border-bottom: 1px solid #e5e9f2;
    padding: 10px 0;
}
.sync-time .col-md-3 span:first-child{
    color: #8492a6;
}
.sync-time .col-md-3 span:last-child{
    color: #324057;
}


/**  fish-ext  **/

.form-control {
    display: block;
    width: 100%;
    height: 28px;
    padding: 2px 8px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    box-shadow: 0 0;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.btn-default {
    color: #666666;
    background-color: #fff;
    border-color: #e6e6e6;
    padding: 5px 12px 4px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 4px;
}
.btn-primary {
    color: #fff;
    background-color: #20a0ff;
    border-color: #20a0ff;
    padding: 5px 12px 4px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 4px;
}
.btn-success {
    color: #fff;
    background-color: #13ce66;
    border-color: #13ce66;
    padding: 5px 12px 4px;
    font-size: 12px;
}
.ui-jqgrid-view .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-state-highlight {
    background-color: #58b7ff;
    color: #ffffff;
}
.ui-jqgrid-view .ui-jqgrid-bdiv .ui-jqgrid-btable tr.ui-state-highlight:hover {
    background-color: #58b7ff !important;
}
.ui-jqgrid-view .ui-subgrid-href {
    color: #231815;
}

table .btn-link:hover, table .btn-link:focus{
    text-decoration: underline;
}


/*  splitter  */

.ui-splitter {
    position: relative;
/*     height: 300px; */
    /*background-color: transparent;*/
    border: 0;
    color: #2e2e2e;
    -webkit-appearance: none;
    line-height: normal;
    outline: 0;
}
.ui-splitter .ui-splitbar {
    background-color: transparent;
}
.ui-splitter .ui-ghost-splitbar-horizontal, .ui-splitter .ui-splitbar-horizontal {
    width: 12px;
    background-color: #f9fafc;
}
.ui-splitter .ui-splitbar.ui-splitbar-horizontal .ui-collapse-prev, .ui-splitter .ui-splitbar.ui-splitbar-horizontal .ui-expand-next {
    cursor: pointer;
    display: inline-block;
    width: 12px;
    height: 40px;
    border: 1px solid #e3e3e3;
    border-right: 0;
    left: -12px;
    background-color: #fff;
}


/* tabs  */

.ui-tabs.tabs-pill .ui-tabs-nav li a {
    margin-right: 0;
    margin-bottom: 0;
    border: 1px solid #d3dce6;
    font-size: 12px;
    padding: 7px 12px;
}
.ui-tabs.tabs-pill .ui-tabs-nav li:first-child a{
    border-radius: 4px 0 0 4px;
}
.ui-tabs.tabs-pill .ui-tabs-nav li:last-child a{
    border-radius: 0 4px 4px 0;
}
.ui-tabs.tabs-pill .ui-tabs-nav li.ui-tabs-active > a,
.ui-tabs.tabs-pill .ui-tabs-nav li.ui-tabs-active > a:hover,
.ui-tabs.tabs-pill .ui-tabs-nav li.ui-tabs-active > a:focus {
    padding: 7px 12px;
    background-color: #20a0ff;
    border-color: #20a0ff;
}

/**  dialog **/

.ui-dialog.dialog-md .modal-header {
    padding-bottom: 16px;
}
.modal-title {
    font-weight: normal;
}

/**  分页 page  **/

.pagination {
    display: inline-table;
    padding-left: 0;
    margin: 18px 0;
    border-radius: 3px;
}
.ui-jqgrid-pager {
    padding: 16px 0 8px;
}
.pagination>li {
    display: table-cell;
}
.pagination>li>a, .pagination>li>span {
    padding: 0px 8px!important;
    border: 1px solid #e5e9f2;
    height: 20px!important;
    line-height: 18px!important;
    font-size: 12px!important;
    color: #475669;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    background-color: #99a9bf!important;
    border-color: #99a9bf!important;
    cursor: default;
    color: #fff;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #475669!important;
    background-color: #eff2f7!important;
    border-color: #e5e9f2!important;
}
.pagination li.pgtext>span,.pagination li.rowtext>span,.pagination li.gotext>span {
    color: #8492a6!important;
}
.pagination .iconfont{
    font-size: 12px;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover,
.pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #8b98ab!important;
}

.ui-dialog .pt-wrap .modal-header.clearfix{
	padding: 18px 16px 8px!important;
}
.ui-dialog .pt-wrap .modal-header .modal-title.pull-left{
	padding: 0;
    margin: 0!important;
}
.pt-wrap .modal-header .pull-right button {
    padding: 0 10px;
    height: 28px;
}
.pt-wrap .modal-header .pull-right button +.btn{
	margin-left:5px;
}



/** 改造 2017-12-4  **/

/** 租户管理  **/

.meta-title .form-group{
	margin-bottom:0!important;
}
.view-framework-product-body>.ui-workspace-tabs>.ui-tabs-panel{
	padding:6px 12px 10px;
}
.view-framework-product-body>.ui-workspace-tabs>.ui-tabs-panel .user-wrap{
	margin:0;
}
.ui-pane.ui-scrollable.ui-splitter{
	overflow:initial;
}

/** 元数据弹窗  **/

.modal-header-tabs.ui-tabs .ui-tabs-nav li> a,
.modal-header-tabs.ui-tabs .ui-tabs-nav li.ui-tabs-active > a,
.modal-header-tabs.ui-tabs .ui-tabs-nav li.ui-tabs-active > a:hover,
.modal-header-tabs.ui-tabs .ui-tabs-nav li.ui-tabs-active > a:focus{
 	    padding: 8px 16px 12px;
 }

.modal-header-tabs .ui-tabs-nav{
    margin: -20px -20px 0;
}
.ui-dialog .modal-header .close{
	position:relative;
	z-index:10;
}
.ui-dialog .pt-wrap .btn .iconfont{
	font-size:12px;
}
.meta-title .meta-title-btn-group .zte-btn-text {
    color: #475669;
}
.meta-title .meta-title-btn-group .zte-btn-text:hover{
	background-color: #e5e9f2;
}
.meta-title .meta-title-btn-group .zte-btn-text:focus{
	color: #20a0ff;
	background-color: #cce9ff;
}

.zte-tabs-list.ui-tabs .ui-tabs-nav {
    padding-left: 8px;
}
.zte-tabs-list.ui-tabs .ui-tabs-nav li a:hover, .zte-tabs-list.ui-tabs .ui-tabs-nav li a.active{
    box-shadow: 0 0;
}

/** 页签   **/
.ui-tabs .myHead-s.ui-tabs-nav li a {
    line-height: 32px;
}
.ui-workspace-tabs .ui-tabs-main-close {
    margin: 5px -2px 0 8px;
}

/** 弹出框改造    **/

.ui-dialog.ui-draggable .pt-wrap .user-wrap {
    padding: 0;
    margin: 0;
}
.ui-dialog .pt-wrap .modal-header {
    border-bottom: 1px solid #e5e9f2;
}
.ui-dialog .pt-wrap .modal-header .modal-title{
	padding: 10px 16px;
	height: 31px;
	line-height: 31px;
	margin: 12px 0px 8px !important;
	padding-left: 16px;
	color: #1f2d3d;
	padding-top: 0;
}
.ui-dialog.ui-draggable .pt-wrap .modal-header h5, .ui-dialog .modal-header-li {
    background-color: transparent;
    text-align: left;
}
.ui-dialog.ui-draggable .pt-wrap .modal-header .close {
    margin-top: -10px;
}
.ui-dialog.ui-draggable .pt-wrap .modal-footer {
    border-top: 1px solid #e5e9f2;
    padding: 10px;
}
.ui-dialog.ui-draggable .user-wrap form {
    padding: 0;
}
.ui-dialog.ui-draggable .pt-wrap .modal-body {
    padding: 16px;
}
.ui-dialog.ui-draggable {
    border-radius: 4px;
}


/**  警告框改造  **/

.ui-dialog.modal-confirm .modal-header > .close {
    margin-right: 5px;
}


/** 表格改造  **/

.meta-table-2 .ui-jqgrid-view{
	border:0;
}
.meta-table-2 .ui-jqgrid-view .ui-jqgrid-hdiv .ui-jqgrid-htable .ui-th-column{
 	border-bottom:0;
 }
.pt-wrap  .meta-table-2 .ui-jqgrid-view td,  .meta-table-2 .ui-jqgrid-view th{
 	border-left:0;
 }
.meta-table-2 .ui-jqgrid{
	margin:0;
 }



/** 颜色汇总  **/

.color-58b7ff{
    color: #58b7ff!important;
}
.color-20a0ff{
    color: #20a0ff!important;
}
.color-8492a6{
    color: #8492A6!important;
}
.color-475669{
    color: #475669!important;
}
.color-ff4949{
    color: #ff4949!important;
}


/*18/01/30样式调整*/
.view-framework-body .view-framework-sidebar .sidebar-nav {
    overflow: hidden;
}

/*表格面板*/
.yun-panel{
    overflow: hidden;
}
.yun-panel.meta-panel .left-menu{
    width: 270px;
}
.yun-panel.meta-panel .right-content {
    margin-left: 270px;
}
/** 多选框 **/
.icheckbox {
    border: none !important;
}
.yun-splitContent .panel-body {
    height: 230px;
}
.yun-splitContent .panel-body.myCol1 .col-md-4 .form-group{
    margin-bottom: 0 !important;
}
.yun-splitContent .panel-body.myCol1 .col-md-4{
    margin-bottom: 8px !important;
}
.yun-splitContent .yun-btn-groupH{
    margin-top: 8px;
}
.yun-icheck .ui-jqgrid-view td,.yun-icheck .ui-jqgrid-view th{
    border-left: none;
}
.yun-btnTxt{
    float: left;
    font-size: 12px !important;
    color: #8492a6;
    margin: 0 3px;
    width: 20% !important;
}
.yun-spanInp1{
    padding: 3px;
}
.yun-inp1{
    float: left;
    margin: 5px 0 0 5px !important;
}
/* 页签  */
.ui-tabs.tabs-middle .ui-tabs-nav {
    border-bottom: 1px solid #e6e6e6;
    background-color: #eff2f7;
    padding-top: 10px;
    padding-left: 8px;
}
.ui-tabs.tabs-middle .ui-tabs-nav li a {
    position: relative;
    display: block;
    padding: 8px 16px;
    margin-right: 0;
    margin-bottom: 0;
    line-height: 1;
    border-width: 0;
    color: #333333;
    border-color: transparent;
    outline: none;
    border: none !important;
}
.yun-pullL{
    width: 100%;
}
.pt-wrap .ui-tabs.tabs-middle .ui-tabs-nav li a{
    background-color: #eff2f7;
}
.pt-wrap .ui-tabs.tabs-middle .ui-tabs-nav li.ui-tabs-active a{
    background-color: #fff;
    box-shadow: none;
}
.yun-formInp .form-control {
    max-width: 130px;
}
.yun-formInp .form-group > label:after{
    display: none;
}
.yun-formInp .form-group.col-xs-6,
.yun-formInp .form-group.col-md-6{
    padding-left: 10%;
}
/*加号按钮*/
.btn-primary span.icon-add-a{
    display: none;
}
/*删除确定新增的弹出框*/
.ui-dialog.modal-warning .glyphicon {
    margin-left: 15px;
    margin-top: 8px !important;
}
.ui-dialog.modal-confirm .modal-title{
    text-align: left;
    padding-left: 15px;
}
.ui-dialog.modal-confirm .modal-body{
    text-align: left;
}
.modal-header{
    padding: 0 !important;
}
.modal-body{
    text-align: left !important;
}
.ui-dialog h4.modal-title{
    padding: 10px 5px !important;
    text-align: left;
}

.ui-dialog.modal-info .glyphicon{
    margin: 8px 5px 0 15px !important;
}
.ui-dialog.modal-danger .glyphicon{
    margin-top: 6px !important;
    margin-left: 15px !important;
}
.ui-dialog.modal-danger .modal-header{
    margin: 0 !important;
}
.ui-dialog.modal-danger .modal-header > .close {
    color: #d9534f;
    padding: 5px 15px 0 0;
}
.ui-dialog.modal-info .modal-header > .close {
    color: #000;
    padding: 8px 15px 0 0;
}
.ui-dialog.modal-warning .modal-header > .close {
    color: #000;
    padding: 5px 15px 0 0;
}
.ui-dialog.modal-confirm .glyphicon{
    display: block;
    padding-left: 15px;
}
/*租户页面横向滚动条去掉*/
.yun-icheck .slimScrollBarX,.yun-scroll .slimScrollBarX{
    display: none !important;
}
/*页面左边栏加宽*/
.view-framework-body .view-framework-sidebar .sidebar-nav ul{
    padding: 0;
}

/*元数据管理--新建页面，按钮合成*/
.yun-synthesis .form-control{
    position: relative;
    width: 60%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.yun-synthesis2{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40%;
}
.yun-synthesis2 .form-control{
    position: absolute;
    left: -120px;
    width: 100%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}