<div class="login">
    <header></header>
    <div class="login-content">
        <div class="login-box">
            <div class="login-box-cont">
                <div class="login-title"><i class="iconfont icon-man-j"></i>登录</div>
                <div class="ipt-box-cont">
                    <div class="ipt-box">
                        <span class="icon-box"><i class="iconfont icon-man-j"></i></span>
                        <input type="text" id="userCode" name="userCode" data-bind="value:userCode" data-rule="required" value="" placeholder="账号">
                    </div>
                    <div class="ipt-box">
                        <span class="icon-box"><i class="iconfont icon-key-a"></i></span>
                        <input type="password" id="password" name="password" data-bind="value:password" data-rule="required" value="" placeholder="密码">
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn-login js-login">登录</a>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>